$pageBgColor: #2c3e50;
$menuContainerColor: #fffce1;
$menuLinkColor: #b8b7ad;
$menuButtonColor: #373a47;
$contentBackgroundColor: #b4bad2;
$popupContentBackgroundColor: #b4bad2;
$bodyColor: #fffce1;
$linkColorTwitch: #6441A3;
$linkColor: #ffffff;
$linkLogoutColor: #27ae60;
$linkLogoutColorHover: #d35400;
